.vs
x64
SDL2*
*.vcxproj.user
*.gb
*.sav
*.o
*.vcxproj.filters
MetroBoy
dump.MetroBoy
release
gb-live32.exe
mooneye-gb_hwtests
mooneye-gb
wpol-gb
mealybug
mealybug-tearoom-tests
microtests/build
SameSuite
GBVisualizer
gb-test-roms
krocki-gb
verilator
wla-dx
naughtyemu
DMG-CPU-Inside
imgui.ini
