[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "SDL"]
	path = SDL
	url = https://github.com/SDL-mirror/SDL
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
