# | gnd c16 d16 e16 gnd | f16 g16 h16 gnd j15 | g14 k14 gnd k15 m16 | n16 gnd p16 1.2 1.2 |
# | gnd b16 d14 d15 gnd | e14 f15 g15 gnd h14 | f14 j14 gnd k16 l16 | m15 gnd p15 r15 io1 |

# | gnd  a2* b4* b5*gnd |  a5  b6  a6 gnd  b7 |  b8  a9 gnd a10 a11 | b12*gnd b13*a15*a16*|
# | gnd  a1* b3* c3*gnd |  c4* c5* c6 gnd  c7 |  a7  b9 gnd  c9 b10*| b11 gnd b14*b15*io0 |

# | gnd  t1  r2  r3 gnd |  t5  t6  t7 gnd  t9 |  p8 t10 gnd t11 n10 | n12 gnd t13 t15 r16 |
# | gnd  t2  t3  r4 gnd |  r5  r6  t8 gnd  r9 |  p9 r10 gnd p10 m11 | p13 gnd t14 t16 io2 |

# | gnd  b1  c1  d1 gnd |  e2  f2  g2 gnd  h2 |  j2  k3 gnd  l3  m2 |  n3 gnd  p1 3.3 3.3 |
# | gnd  b2  c2  d2 gnd |  f1  g1  h1 gnd  j3 |  j1  k1 gnd  l1  m1 |  n2 gnd  p2  r1 io3 |

# 12 MHz Clock
set_io -nowarn CLK    J3

# LEDs from left to right
set_io -nowarn LEDS[7] B5
set_io -nowarn LEDS[6] B4
set_io -nowarn LEDS[5] A2
set_io -nowarn LEDS[4] A1
set_io -nowarn LEDS[3] C5
set_io -nowarn LEDS[2] C4
set_io -nowarn LEDS[1] B3
set_io -nowarn LEDS[0] C3

# FTDI Port B UART
set_io -nowarn SER_DCDn B15
set_io -nowarn SER_DSRn B14
set_io -nowarn SER_DTRn A16
set_io -nowarn SER_CTSn A15
set_io -nowarn SER_RTSn B13
set_io -nowarn SER_TX   B12
set_io -nowarn SER_RX   B10

set_io -nowarn LOGIC0 P16
